name: msys

on:
  push:
  workflow_dispatch:

jobs:
  windows:
    runs-on: windows-2019
    timeout-minutes: 45
    env:
      DEPS_BUILD_DIR: ${{ format('{0}/nvim-deps', github.workspace) }}
      DEPS_PREFIX: ${{ format('{0}/nvim-deps/usr', github.workspace) }}

    strategy:
      fail-fast: false
      matrix:
        config: [ 'MINGW_64-gcov' ]
    name: windows (${{ matrix.config }})
    steps:
      - uses: actions/checkout@v2

      - if: matrix.config == 'MINGW_64-gcov'
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: true
          pacboy: >-
            cmake:p
            ninja:p

      - name: run upgrade script
        shell: pwsh
        run: |
          Get-Command -Name make -ErrorAction Ignore
          Get-Command -Name ninja -ErrorAction Ignore
          Get-Command -Name cmake -ErrorAction Ignore
